html,
body {
  height: 100%;
}

body {
  color: #444;
}
body, select, input, textarea, input[type="password"], button, a {
  font: 300 14px Roboto, sans-serif;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea, button {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
  line-height: 1.4em;
}

select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]	       { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
a, a:link                              { color: #FF3F00; text-decoration:none; }
a:hover                        { color: #FF3F00; text-decoration:underline; }
a:focus                        { outline: none; }
button                         {  }
img                            {  }

/*----------------------------------------------------------------------------------*/
/*--------------------------------> Main structure <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  padding-bottom: 290px;
}
.footer {
  margin-top: -290px;
  height: 290px;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> General styles <--------------------------------*/
/*----------------------------------------------------------------------------------*/

.btn-new {
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.btn-new:hover {
  text-decoration: none;
}
.btn-new-default {
  width: 184px;
  height: 55px;
  text-transform: uppercase;
  border: 1px solid rgba(255,64,0,0.22);
  font-size: 17px;
  font-weight: 400;
  color: #FF3F00;
}
.btn-new-default:hover {
  color: #FF3F00;
}
.btn-small {
  width: auto;
  height: 32px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-add {
  text-transform: none;
  font-weight: 300;
}
.btn-add .fa {
  margin-right: 5px;
}
.btn-add .btn-text {
  color: #444;
}

.btn-new-orange {
  background: #FF5C26;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
.btn-new-orange:hover {
  color: #FFF;
}

.link {
  font-size: inherit;
  font-weight: inherit;
}

.caption-line {
  display: block;
  width: 100%;
  height: 3px;
  background: #FF4000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.contact-bar {
  padding-top: 74px;
  padding-bottom: 84px;
}
.contact-bar .icon-holder {
  position: relative;
  float: left;
  background: #FF5C26;
  width: 254px;
  height: 254px;
  border-radius: 50%;
  margin: 0 55px 0 0;
}
.contact-bar .icon-calc {
  display: block;
  width: 189px;
  height: 213px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(/images/icon_calc_big.png) no-repeat;
}
.contact-bar .caption {
  font-size: 35px;
  color: #FF3F00;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 10px;
}
.contact-bar .text {
  font-size: 21px;
}
.contact-bar .btn-new {
  width: 234px;
  margin-top: 32px;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------> Headers and footer <------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
  //height: 128px;
}
.header .logo {
  display: block;
  float: left;
  width: 121px;
  height: 64px;
  margin: 24px 0 40px;
}
.header .logo img {
  max-width: 100%;
}
.header .custom-nav {
  overflow: hidden;
  text-align: center;
  margin: 66px 0 0;
}
.header .custom-nav li {
  display: inline-block;
  margin-right: 30px;
}
.header .custom-nav a {
  font-size: 18px;
  font-weight: 400;
  color: inherit;
}
.header .custom-nav a:hover {
  color: #FF3F00;
  text-decoration: none;
}

.header .phone-block {
  display: block;
  float: right;
  width: 164px;
  height: 105px;
  background: rgba(255,255,255,0.2);
  background: #FF5C26;
  text-align: center;
  color: #FFF;
  padding-top: 23px;
}
.header .phone-block:hover {
  text-decoration: none;
}
.header .phone-block span {
  display: block;
  line-height: 1.3em;
}
.header .phone-block .title {
  font-size: 21px;
  font-weight: 900;
  text-transform: uppercase;
}
.header .phone-block .phone {
  font-size: 16px;
  font-weight: 900;
}


.footer {
  color: #CCC;
  background: #444;
}
.footer .caption {
  position: relative;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2em;
  padding: 37px 0 7px;
  display: inline-block;
  text-transform: uppercase;
}
.footer .caption .caption-line {
  background: #CCC;
  height: 1px;
}
.footer .info-list {
  //margin: 35px 0 65px;
  margin: 35px 0 0;  
}
.footer .info-list > li:not(.last) {
  float: left;
  width: 18%;
}
.footer .info-list > li.last {
  overflow: hidden;
  padding-left: 30px;
}
.footer .info-list .place,
.footer .info-list .address {
  display: block;
}
.footer .info-list .place,
.footer .footer-nav .link {
  font-size: 17px;
  font-weight: 400;
}
.footer .info-list .place {
  margin: 0 0 10px;
}
.footer .info-list .address {
  line-height: 1.55em;
}

.footer .footer-nav {
}
.footer .footer-nav > li {
  display: inline-block;
}
.footer .footer-nav .link {
  color: inherit;
  text-decoration: none;
  margin: 0 5px;
}
.footer .footer-nav .link:hover {
  color: #FF3F00;
}

.footer .media-list > li {
  float: left;
  margin: 0 8px 0 0;
}
.footer .media-list {
  padding: 45px 0 0 5px;
}
.footer .media-list .fa {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #CCC;
  color: #444;
  font-size: 16px;
  font-family: FontAwesome;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
}
.footer .media-list .fa:hover {
  background: #FF3F00;
}
.footer .media-list .fa-tumblr,
.footer .media-list .fa-facebook {
  padding-right: 2px;
}
.footer .media-list .fa-linkedin,
.footer .media-list .fa-skype {
  padding-top: 4px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------> Page home (index) <------------------------------*/
/*----------------------------------------------------------------------------------*/

.photo-list {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.photo-list > li {
  display: inline-block;
  height: 234px;
}
.photo-list img {
  height: 100%;
}

.page-home .home-caption {
  font-size: 27px;
  text-align: center;
  font-weight: 300;
  line-height: 1.3em;
  border-bottom: 1px solid #DDD;
  padding: 93px 0 100px;
}
.page-home .services-block {
  text-align: center;
}
.page-home .services-block .caption {
  font-size: 31px;
  font-weight: 400;
  color: #777;
  text-transform: uppercase;
  padding: 50px 0 55px;
}
.page-home .service-list {
  font-size: 0;
}
.page-home .service-list > li {
  display: inline-block;
  width: 300px;
  margin: 0 0 60px 20px;
  vertical-align: top;
}
.page-home .service-list > li:first-child {
  margin-left: 0;
}
.page-home .service-list .title {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 37px 0 17px;
}
.page-home .service-list .text {
  font-size: 15px;
}
.page-home .service-list .icon-holder {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  background: #FF5C26;
  border-radius: 50%;
}
.page-home .service-list .icon {
  display: block;
  position: absolute;
  right: 0;
  bottom: 2px;
}
.page-home .service-list .icon-web {
  width: 188px;
  height: 157px;
  background: url(../images/icon_service_1.png) no-repeat;
}
.page-home .service-list .icon-mobile {
  width: 147px;
  height: 177px;
  background: url(../images/icon_service_2.png) no-repeat;
}
.page-home .service-list .icon-game {
  width: 178px;
  height: 153px;
  background: url(../images/icon_service_3.png) no-repeat;
}
.page-home .service-list .btn-new {
  margin-top: 30px;
}

.page-home .blog-block {
  text-align: center;
}
.page-home .blog-block .caption {
  font-size: 31px;
  color: #666;
  text-transform: uppercase;
  margin: 70px 0 60px;
}
.page-home .blog-list {
  font-size: 0;
}
.page-home .blog-list > li {
  display: inline-block;
  width: 300px;
  //height: 630px;
  margin: 0 0 70px 20px;
  vertical-align: top;
}
.page-home .blog-list > li:first-child {
  margin-left: 0;
}
.page-home .blog-list > li:hover .btn-new {
  visibility: visible;
}
.page-home .blog-list .btn-new {
  margin-top: 65px;
  visibility: hidden;
}

.page-home .blog-list .photo-block {
  //height: 220px;
  overflow: hidden;
}
.page-home .blog-list .photo-block img {
  width: 100%;
}

.page-home .blog-list .info-block {
  border: 1px solid #EEE;
  border-top: 0;
  padding: 25px;
  //height: 290px;
}
.page-home .blog-list .title {
  display: block;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 17px;
  color: inherit;
}
.page-home .blog-list .title:hover {
  text-decoration: none;
  color: #FF3F00;
}
.page-home .blog-list .text {
  font-size: 17px;
}

.page-home .recent-projects {
  text-align: center;
  background: url(../images/bg_pattern.png);
  padding: 75px 0 50px;
}
.page-home .recent-projects .caption {
  font-size: 31px;
  color: #777;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.page-home .recent-projects .hint {
  font-size: 20px;
  display: block;
  margin: 0 0 60px;
}

.page-home .project-list {
  font-size: 0;
}
.page-home .project-list > li {
  display: inline-block;
  width: 300px;
  margin: 0 0 50px 20px;
  vertical-align: top;
}
.page-home .project-list > li:first-child {
  margin-left: 0;
}
.page-home .project-list .photo-block,
.page-home .project-list .info-line,
.page-home .project-list .info-block,
.page-home .project-list .title,
.page-home .project-list .text {
  display: block;
}
.page-home .project-list a:hover {
  text-decoration: none;
}
.page-home .project-list a:hover .shadow {
  display: block;
}
.page-home .project-list a:hover .info-block {
  background: #FF5C26;
}
.page-home .project-list a:hover .title,
.page-home .project-list a:hover .text {
  color: #FFF;
}
.page-home .project-list .photo-block {
  overflow: hidden;
  position: relative;
}
.page-home .project-list .photo-block img {
  width: 100%;
}
.page-home .project-list .shadow {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,0.86);
  color: #FFF;
  padding-top: 60px;
}
.page-home .project-list .info-label {
  font-weight: 400;
}
.page-home .project-list .icon-search {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/sprite.png) 0 0 no-repeat;
  position: absolute;
  left: 50%;
  bottom: 42px;
  margin-left: -13px;
}
.page-home .project-list .info-block {
  background: #FFF;
  padding: 17px 10px 22px;
}
.page-home .project-list .title {
  font-size: 18px;
  font-weight: 400;
  color: #444;
  margin: 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page-home .project-list .text {
  font-size: 15px;
  color: #666;
}

.page-home .testimonial-block {
  height: 490px;
  background: url(../images/bg_blurred.png) center top / cover no-repeat;
  padding: 62px 0 0;
}
.page-home .testimonial-block .caption {
  font-size: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  margin: 0 0 65px;
}
.testimonial-carousel {
  height: 232px;
}
.testimonial-carousel .photo-block {
  padding: 7px;
  border: 1px solid rgba(221,221,221,0.27);
  float: left;
  width: 232px;
  height: 232px;
  margin: 0 60px 0 0;
}
.testimonial-carousel .photo-block img {
  max-width: 100%;
}
.testimonial-carousel .photo-block,
.testimonial-carousel .photo-block img {
  border-radius: 50%;
}
.testimonial-carousel .info-block {
  overflow: hidden;
  color: #FFF;
}
.testimonial-carousel .text {
  font-size: 25px;
  font-weight: 400;
  margin: 8px 0 35px;
}
.testimonial-carousel .author,
.testimonial-carousel .downloads {
  display: block;
  font-style: italic;
}
.testimonial-carousel .author {
  font-size: 21px;
  font-weight: 400;
}
.testimonial-carousel .downloads {
  font-size: 18px;
}
.testimonial-carousel .carousel-indicators {
  bottom: -50px;
  font-size: 0;
}
.testimonial-carousel .carousel-indicators > li {
  border: 0;
  margin: 0 3px;
  background: rgba(255,255,255,0.58);
  width: 10px;
  height: 10px;
}
.testimonial-carousel .carousel-indicators > li.active {
  background: rgba(255,255,255,1);
}

/*----------------------------------------------------------------------------------*/
/*---------------------------------> Page contact <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.page-contact {
}
.page-contact .map-block {
  background: #AAA;
  height: 426px;
  margin: 26px 0 0;
}
.page-contact .address-list {
}
.page-contact .address-list > li {
  margin-bottom: 100px;
}
.page-contact .address-list .title {
  color: inherit;
  border-bottom: 3px solid #EEE;
  font-size: 22px;
  font-weight: 400;
  display: block;
  padding: 0 0 12px;
  margin: 82px 0 27px;
}
.page-contact .address-list .title .fa {
  color: #EEE;
  font-size: 26px;
  margin: 0 5px 0 0;
}
.page-contact .address-list .title:hover,
.page-contact .address-list .title.active {
  color: #FF3F00;
  border-color: #FF3F00;
  text-decoration: none;
}
.page-contact .address-list .title:hover .fa,
.page-contact .address-list .title.active .fa {
  color: inherit;
}
.page-contact .address-list .address {
  line-height: 1.55em;
  font-size: 16px;
  height: 75px;
  margin: 0 0 15px;
}
.page-contact .address-list .phone {
  display: block;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.1em;
  color: #666;
  margin: 0 0 7px;
}
.page-contact .address-list .email {
  font-weight: 400;
  color: #868686;
  text-decoration: underline;
}

.page-contact .contact-form-block {
  background: #EEE;
  padding-top: 60px;
  padding-bottom: 80px;
}
.contact-form-block {
  padding-top: 50px;
}
.contact-form-block .caption {
  font-size: 31px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.contact-form-block .caption-line {
  width: 120px;
}
.contact-form-block .gform_heading,
.contact-form-block .gfield_label {
  display: none;
}

.contact-form-block .gform_fields {
  width: 28.5%;
  float: left;
}
.contact-form-block .right-column {
  width: 69%;
  float: right;
}
.contact-form-block .with-captcha img {
  margin: 0 8px 10px 2px;
}
.contact-form-block .btn-add {
  float: left;
  margin-right: 20px;
}
.contact-form-block .file-name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 6px;
}
.contact-form-block .gform_body:after {
  display: table;
  clear: both;
  content: '';
}
.contact-form-block .gform_footer .btn-new {
  display: block;
  margin: 30px auto 0;
}


.file-upload-block input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
}
.input-block,
.file-upload-block {
  margin-bottom: 20px;
}
.input-block input,
.input-block textarea {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(204,204,204,0.5);
  background: rgba(255,255,255,0.5);
  padding: 8px 12px;
}
.input-block textarea {
  height: 160px;
  resize: none;
}


.popup-contact-us {
}
.popup-contact-us .contact-form-block {
  padding: 30px 50px 45px;
}
.popup-contact-us .hint-caption,
.popup-contact-us .hint-text {
  text-align: center;
}
.popup-contact-us .caption {
  margin-bottom: 25px;
}
.popup-contact-us .hint-caption {
  font-size: 18px;
  font-weight: 400;
}
.popup-contact-us .hint-text {
  color: #868686;
  margin: 15px 0 50px;
}



/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/